.proxy-list {
	width: 100%;

	.proxy-list-line {
		display: flex;
		padding: 0.25em 0;
		text-align: center;

		div {
			user-select: all;
			width: 25%;

			&:first-child {
				width: 50%;
			}
		}
	}

	#pagination {
		display: flex;
		justify-content: center;
		gap: 0.5em;

		button:not([disabled]) {
			cursor: pointer;
		}
	}

	&.mobile {
		width: 100vw;
	}
}
